<table align="centar">
  <tr>
    <td><%= render '/search' %></td>
    <td><%= render 'tagsearches/tagsearch' %></td>
  </tr>
</table>
<div class="card-list-container py-5">
<%= render 'index', posts: @posts %>
</div>
