<% @posts.each do |post| %>
  <div>
    <p>タイトル</p>
    <span>
      <%= link_to post.title, "/posts/#{post.id}" %>
    </span></br>
    <%= image_tag post.get_image(200, 200) %>
    <p>商品紹介:<%= post.introduction %></p>
    <p>住所:<%= post.address %></p>
  </div>
<% end %>

